@supports (display: grid) {
  
.gridContainerPlaceholder, .gridContainer {
  padding-top: 150%;
  position: relative;
  }
}

@supports not (display: grid) {

}
.gridContainerPlaceholder {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
}

.gridContainer {
  opacity: 1;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;

  background-color: red;
  border: 1px hidden;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #888888;
  overflow:hidden;  
}

.linkContainer:hover .arcanaMainImage {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.arcanaMainImage {
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  
}

@supports(object-fit: cover){
  .gridContainer .arcanaMainImage {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.container {
  height: 90px;
  display: flex;
}

.arcanaIcon {
  margin: 10px;
  height: 66px;
  width: 66px;
  float: left;
}

.nameKRContainer, .nameJPContainer {
  /* text-align: center;
  vertical-align: middle; */
  display: flex;
  margin-bottom: 5px;
}

.nameKRLabel {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 5px 0px 0px; 
  /* display: inline-block; */
  /* white-space: nowrap;
  overflow: hidden;
  vertical-align: top; */
}

.nicknameKRLabel {
  font-size: 0.8rem;
  margin: 10px 10px 0px 5px;
  /* display: inline-block; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle; */
}

.nameJPLabel, .nicknameJPLabel {
  font-size: 0.8rem;
  margin: 0px 10px 0px 0px;
  /* white-space: nowrap;
  overflow: hidden;
  vertical-align: middle; */
  color: silver;
}

.detailLabel {
  font-size: 0.8rem;
  padding-right: 10px;
  color: #68a283;
}