.fullWidth {
    width: 100%;
    box-sizing: border-box;
}

.half {
    width: 40%;
    float: left;
    box-sizing: border-box;
    margin: 0 20px;
    
}

.twoColumns {
    width: 13.3333333333%;
    float: left;
    box-sizing: border-box;
    margin-right: 20px;
}

.container {
    /* margin: 10px; */
    content: "";
    display: table;
    clear: both;
}

label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 1em;
}

input[type="text"] {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}