.filterContainer {
  min-width: 280px;
  max-width: 80%;
  position: absolute;
  right: 0px;
  z-index: 1;
  background-color: white;
  
}

.arcanaGrid {
  width: 100%;
  position: absolute;
}

@media (min-width: 500px) {
  .filterContainer {
    width: 400px;
  }
}

/* TODO: change from the below to something when pressing toggle filter */
@media (min-width: 800px) {
  .arcanaGrid {
    width: calc(100% - 400px);
  }
}

.arcanaGridFull {
  width: 100%;
}

.filterGrid {
  display: grid;
  justify-content: center;
  width: calc(100%-20px);
  margin: 10px;
  
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);

  grid-column-gap: 10px;
  grid-row-gap: 10px ;
}

.toolbar {
  position: fixed;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  width: 100%;
}
