@media (min-width: 500px) {
  .filterContainer {
    float: right;
    width: 400px;
  }
  .arcanaGrid {
    float: left;
    width: calc(100% - 440px);
  }
}

.filterGrid {
  display: grid;
  justify-content: center;
  width: calc(100%-20px);
  margin: 10px;
  
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);

  grid-column-gap: 10px;
  grid-row-gap: 10px ;
}

.arcanaGrid {
  display: grid;
  justify-content: center;
  
  margin: 10px;
  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);

  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (min-width: 550px) {
  .arcanaGrid {    
    
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: 300px;

    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
}

.toolbar {
  position: fixed;
  z-index: 100; 
  bottom: 0; 
  left: 0;
  width: 100%;
}
