.flex {
  display: flex;
}

.container {
  height: 90px;
  display: flex;
}

.arcanaIcon {
  margin: 10px;
  height: 66px;
  width: 66px;
  float: left;
}

.nameKRContainer, .nameJPContainer {
  /* text-align: center;
  vertical-align: middle; */
  display: flex;
  margin-bottom: 5px;
}

.nameKRLabel {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 5px 0px 0px; 
  /* display: inline-block; */
  /* white-space: nowrap;
  overflow: hidden;
  vertical-align: top; */
}

.nicknameKRLabel {
  font-size: 0.8rem;
  margin: 10px 10px 0px 5px;
  /* display: inline-block; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle; */
}

.nameJPLabel, .nicknameJPLabel {
  font-size: 0.8rem;
  margin: 0px 10px 0px 0px;
  /* white-space: nowrap;
  overflow: hidden;
  vertical-align: middle; */
  color: silver;
}

.detailLabel {
  font-size: 0.8rem;
  padding-right: 10px;
  color: #68a283;
}