@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

refreshContainer {
  position: relative;
}

refresh {
  margin-left: 50%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
} */

.placeholderMain {
  width: 320px;
  height: 480px;
  margin: auto;
  margin-bottom: 20px;
}

.arcanaMainImage {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  width: 100%;
  height: auto;
}

.container {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nameContainer {
  /* text-align: center; */
}

.nameKRLabel {
  font-size: 1rem;
  font-weight: bold;
}

.nameJPLabel {
  font-size: 1rem;
}

.nameKRContainer, .nameJPContainer {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.placeholderIcon, .arcanaImageIcon {
  padding-right: 10px;
  display: block;
  width: 66px;
  height: 66px;
}

/* Larger than mobile */
@media (min-width: 400px) {
  .arcanaImageMain {
    width: 320px;
  }
}

.arcanaDetailTable {
  border-top: 1px solid #E1E1E1;
  margin: 0 0 40px 0;
  width: 100%;
}

.arcanaSkillTable {
  margin: 0;
  width: 100%;
}

.headerCell {
  height: 100%;
  width: 70px;
  text-align: center;
  padding-right: 10px;
}

.bodyCell {
  height: 100%;
  text-align: left;
  padding-left: 10px;
  min-width: 200px;
}

.skillNameCell {
  height: 20px;
  text-align: left;
  padding-right: 20px;
  float: left;
}

.manaContainer {
  float: right;
}

.manaLabelCell, .manaCell {
  padding: 0 5px 0 10px;
  float: left;
}

.manaLabelCell {
  width: auto;
  font-weight: 800;
}

.manaCell {
  width: 10px;
}

@media (min-width: 550px) {
  .manaContainer {
    float: left
  }
  .manaCell, .manaLabelCel {
    float: left;
  }
}

.skillAbilityDescCell {
  padding: 10px;
  border-bottom: 1px solid #E1E1E1;
  display: block;
  overflow:auto;
}

