table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mainImageContainer {
  width: 100%;
  padding-top: 150%;
  position: relative;
}

@media (min-width: 400px) {
  .mainImageContainer {
    width: 320px;
    height: 480px;
    padding-top: 0;
    margin: 20px auto 20px auto;
  }
}

.mainImagePlaceholder, .mainImage {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.mainImagePlaceholder {
  opacity: 0;
  transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
}

.mainImage {
  opacity: 1;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;

}

.headerContainer {
  height: 90px;
  width: 100%;
  display: flex;
  margin: 10px;
  align-items: center;
  
  /* justify-content: center; */
}

.container {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nameContainer {
  /* text-align: center; */
}

.nameKRLabel {
  font-size: 1rem;
  font-weight: bold;
}

.nameJPLabel {
  font-size: 1rem;
}

.nameKRContainer, .nameJPContainer {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.placeholderIcon, .arcanaImageIcon {
  padding-right: 10px;
  display: block;
  width: 66px;
  height: 66px;
}

.arcanaDetailTable {
  border-top: 1px solid #E1E1E1;
  margin: 0 0 40px 0;
  width: 100%;
}

.arcanaSkillTable {
  margin: 0;
  width: 100%;
}

.headerCell {
  height: 100%;
  width: 70px;
  text-align: center;
  padding-right: 10px;
}

.bodyCell {
  height: 100%;
  text-align: left;
  padding-left: 10px;
  min-width: 200px;
}

.skillNameCell {
  height: 20px;
  text-align: left;
  padding-right: 20px;
  float: left;
}

.manaContainer {
  float: right;
}

.manaLabelCell, .manaCell {
  padding: 0 5px 0 10px;
  float: left;
}

.manaLabelCell {
  width: auto;
  font-weight: 800;
}

.manaCell {
  width: 10px;
}

@media (min-width: 550px) {
  .manaContainer {
    float: left
  }
  .manaCell, .manaLabelCel {
    float: left;
  }
}

.skillAbilityDescCell {
  padding: 10px;
  border-bottom: 1px solid #E1E1E1;
  display: block;
  overflow:auto;
}

