.nav {
    background-color: #68a283;
    overflow: hidden;
    height: 50px;
}

.nav li {
    height: 100%;
    float: left;
    display: block;
    color: white;
    text-align: center;
    /* padding: 10px 10px; */
    text-decoration: none;
    font-size: 14px;
}

.logo {
    width: 20px;
    height: 20px;
}

.listWrapper {
    margin: 10px;
    padding: 0;
}