ul {
    background-color: #68a283;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 60px;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
}

li a:hover {
    background-color: #508065;
}

.logo {
    width: 20px;
    height: 20px;
}
